In [1]:
import pandas as pd

## 5. Знакомимся с данными: недвижимость

In [2]:
melb_data = pd.read_csv("data/melb_data.csv", sep=",")

In [3]:
melb_data

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

### Задание 5.1
Какова цена объекта недвижимости под индексом 15?

In [4]:
melb_data.loc[15, "Price"]

1310000.0

### Задание 5.2

Когда был продан объект под индексом 90?

In [5]:
melb_data.loc[90, "Date"]

'10/09/2016'

### Задание 5.3

Во сколько раз площадь прилегающей территории, на которой находится здание с индексом 3521, больше площади участка, на котором находится здание с индексом 1690? Ответ округлите до целого числа.

In [6]:
melb_data.loc[3521, "Landsize"] / melb_data.loc[1690, "Landsize"]

2.7857142857142856

## 6. Исследование структуры DataFrame

### Задание 6.3

Какой тип данных имеет столбец Coordinates?

In [7]:
melb_data.Coordinates

0          -37.7996, 144.9984
1          -37.8079, 144.9934
2          -37.8093, 144.9944
3          -37.7969, 144.9969
4          -37.8072, 144.9941
                 ...
13575    -37.90562, 145.16761
13576    -37.85927, 144.87904
13577    -37.85274, 144.88738
13578    -37.85908, 144.89299
13579    -37.81188, 144.88449
Name: Coordinates, Length: 13580, dtype: object

### Задание 6.5

Сколько пропущенных значений в столбце CouncilArea?

In [8]:
melb_data.CouncilArea.value_counts(dropna=False)

CouncilArea
NaN                  1369
Moreland             1163
Boroondara           1160
Moonee Valley         997
Darebin               934
Glen Eira             848
Stonnington           719
Maribyrnong           692
Yarra                 647
Port Phillip          628
Banyule               594
Bayside               489
Melbourne             470
Hobsons Bay           434
Brimbank              424
Monash                333
Manningham            311
Whitehorse            304
Kingston              207
Whittlesea            167
Hume                  164
Wyndham                86
Knox                   80
Maroondah              80
Melton                 66
Frankston              53
Greater Dandenong      52
Casey                  38
Nillumbik              36
Yarra Ranges           18
Cardinia                8
Macedon Ranges          7
Unavailable             1
Moorabool               1
Name: count, dtype: int64

### Задание 6.6

Сколько столбцов после преобразования типов имеет целочисленный тип данных?

In [9]:
melb_data["Car"] = melb_data["Car"].astype("int64")
melb_data["Bedroom"] = melb_data["Bedroom"].astype("int64")
melb_data["Bathroom"] = melb_data["Bathroom"].astype("int64")
melb_data["Propertycount"] = melb_data["Propertycount"].astype("int64")
melb_data["YearBuilt"] = melb_data["YearBuilt"].astype("int64")
melb_data.info()

# 8 столбцов

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

### Задание 6.7

Выберите верные утверждения в отношении таблицы melb_data

А Среднее и медианное значения цены дома в таблице отличаются более чем в 10 раз

In [10]:
melb_data.Price.describe()

# нет

count    1.358000e+04
mean     1.075684e+06
std      6.393107e+05
min      8.500000e+04
25%      6.500000e+05
50%      9.030000e+05
75%      1.330000e+06
max      9.000000e+06
Name: Price, dtype: float64

B Половина проданных зданий находится на расстоянии от 6.1 до 13 километров от центра города

In [11]:
melb_data.Distance.describe()

# да

count    13580.000000
mean        10.137776
std          5.868725
min          0.000000
25%          6.100000
50%          9.200000
75%         13.000000
max         48.100000
Name: Distance, dtype: float64

C Средняя площадь здания составляет более 180 квадратных метров

D В данных есть как минимум одно жилое помещение, которое находится ровно в той точке, которая считается центром Мельбурна

In [12]:
melb_data.BuildingArea.describe()

# нет
# да

count    13580.000000
mean       139.633972
std        392.217403
min          0.000000
25%        122.000000
50%        126.000000
75%        129.940000
max      44515.000000
Name: BuildingArea, dtype: float64

### Задание 6.8

Выберите верные утверждения в отношении таблицы melb_data:  

A Наименьшее число объектов расположено в районе Southern Metropolitan  
B Мельбурн и его пригороды разделены как минимум на восемь районов  
C У некоторых различных адресов в таблице совпадают географические координаты  
D В пригороде Reservoir расположено наибольшее число проданных объектов - 359

In [13]:
melb_data.describe(include = ["object"])

# нет
# да
# да
# да

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

### Задание 6.9

Сколько процентов от общего количества домов составляют таунхаусы (тип объекта — t)?  
Ответ округлите до целого числа. Не указывайте знак %

In [14]:
melb_data.Type.value_counts(normalize=True) * 100

Type
h    69.580265
u    22.216495
t     8.203240
Name: proportion, dtype: float64

## 7. Статистические методы

### Задание 7.2
Чему равно максимальное количество домов на продажу в районе (Propertycount)?

In [15]:
melb_data['Propertycount'].max()

21650

### Задание 7.3

Чему равно стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости?

In [16]:
melb_data['Distance'].std()

5.868724943071692

### Задание 7.4
Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?

In [17]:
(melb_data["BuildingArea"].median() - melb_data["BuildingArea"].mean()) / melb_data[
    "BuildingArea"
].median() * 100

-10.820612928676637

### Задание 7.5

Задан ряд чисел [1, 2, 4, 2, 3, 2, 1, 5, 6]. Чему равна мода в данном ряду?

In [18]:
pd.Series([1, 2, 4, 2, 3, 2, 1, 5, 6]).mode()

0    2
dtype: int64

## Задание 7.6

Сколько спален чаще всего встречается в домах в Мельбурне?

In [19]:
melb_data["Bedroom"].mode()

0    3
Name: Bedroom, dtype: int64

## 8. Фильтрация данных в DataFrame

### Задание 8.1

У скольких объектов недвижимости из таблицы melb_data отсутствуют ванные комнаты?

In [20]:
melb_data[melb_data["Bathroom"] == 0].shape[0]

34

### Задание 8.2

Сколько в таблице melb_data объектов недвижимости, которые были проданы риелторской компанией Nelson и стоимость которых составила больше 3 миллионов?

In [21]:
melb_data[(melb_data["SellerG"] == "Nelson") & (melb_data["Price"] > 3000000)].shape[0]

5

### Задание 8.3
Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице melb_data?

In [22]:
melb_data[melb_data["BuildingArea"] == 0]["Price"].min()

412500.0

### Задание 8.4

Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее одного миллиона, в которых либо количество комнат больше пяти, либо здание моложе 2015 года?

In [23]:
melb_data[
    (melb_data["Price"] < 1000000)
    & ((melb_data["Rooms"] > 5) | (melb_data["YearBuilt"] > 2015))
]["Price"].mean()

769238.6363636364

### Задание 8.5

В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов?

In [24]:
melb_data[(melb_data["Type"] == 'h') & (melb_data["Price"] < 3000000)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

## 9. Закрепление знаний

In [25]:
student_data = pd.read_csv("data/students_performance.csv", sep=",")

In [26]:
student_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

gender — пол;  
race/ethnicity — раса/этническая принадлежность;  
parental level of education — уровень образования родителей;  
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);  
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);  
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

### Задание 9.2

Каков балл по письму у студента под индексом 155?

In [28]:
student_data.loc[155, "writing score"]

88

### Задание 9.3
Сколько суммарно пропущенных значений в таблице?

In [29]:
student_data.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

### Задание 9.4
Сколько столбцов в таблице имеет тип данных object?

In [30]:
student_data.select_dtypes(include='object').shape[1]

5

### Задание 9.5
Какой объём памяти (в килобайтах) занимает таблица?
Округлите ответ до целого числа.

In [31]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### Задание 9.6
Каков у студентов средний балл по математике?
Округлите ответ до целого числа.

In [32]:
student_data["math score"].mean()

66.089

### Задание 9.7
Какая расовая группа является самой крупной в учебном заведении?
В качестве ответа введите идентификатор группы (A, B, C, D, F)

In [33]:
student_data["race/ethnicity"].mode()

0    group C
Name: race/ethnicity, dtype: object

### Задание 9.8
Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [35]:
student_data.groupby("test preparation course")["reading score"].mean()

test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64

### Задание 9.9
Сколько студентов получили 0 баллов по математике?

In [36]:
student_data[student_data["math score"] == 0].shape[0]

1

### Задание 9.10
Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [37]:
student_data.groupby("lunch")["math score"].mean()

lunch
free/reduced    58.921127
standard        70.034109
Name: math score, dtype: float64

### Задание 9.11
Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

In [39]:
student_data["parental level of education"].value_counts(normalize=True) * 100

parental level of education
some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: proportion, dtype: float64

### Задание 9.12
Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [41]:
student_data.groupby("race/ethnicity")["writing score"].median()

race/ethnicity
group A    62.0
group B    67.0
group C    68.0
group D    72.0
group E    72.0
Name: writing score, dtype: float64