In [2]:
import pandas as pd

In [3]:
melb_data = pd.read_csv("../1.2 Introduction to Pandas/data/melb_data.csv", sep=",")

## 2. Базовые операции со столбцами DataFrame

In [4]:
melb_df = melb_data.copy()
melb_df.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

Удалим столбцы index и Coordinates из таблицы с помощью метода drop(). Выведем первые пять строк таблицы и убедимся, что всё прошло успешно.

In [ ]:
melb_df = melb_df.drop(["index", "Coordinates"], axis=1)
melb_df.head(5)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1.0,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2.0,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

Альтернативный вариант:

In [ ]:
melb_df.drop(["index", "Coordinates"], axis=1, inplace=True)
melb_df.head()

### Математические операции со столбцами

Например, давайте создадим переменную total_rooms, в которой будем хранить общее количество комнат в здании. Для этого выполним сложение столбцов с количеством комнат, ванн и спален:

In [ ]:
total_rooms = melb_df["Rooms"] + melb_df["Bedroom"] + melb_df["Bathroom"]
display(total_rooms)

0         5.0
1         5.0
2         8.0
3         8.0
4         8.0
         ...
13575    10.0
13576     8.0
13577     8.0
13578     9.0
13579     9.0
Length: 13580, dtype: float64

А теперь введём признак MeanRoomsSquare, который соответствует средней площади одной комнаты для каждого объекта. Для этого разделим площадь здания на полученное ранее общее количество комнат:

In [8]:
melb_df["MeanRoomsArea"] = melb_df["BuildingArea"] / total_rooms
display(melb_df["MeanRoomsArea"])

0        25.200000
1        15.800000
2        18.750000
3        15.750000
4        17.750000
           ...
13575    12.600000
13576    16.625000
13577    15.750000
13578    17.444444
13579    12.444444
Name: MeanRoomsArea, Length: 13580, dtype: float64

Можно ввести ещё один интересный признак —AreaRatio, коэффициент соотношения площади здания (BuildingArea) и площади участка (Landsize). Для этого разницу двух площадей поделим на их сумму:

In [9]:
diff_area = melb_df["BuildingArea"] - melb_df["Landsize"]
sum_area = melb_df["BuildingArea"] + melb_df["Landsize"]
melb_df["AreaRatio"] = diff_area / sum_area
display(melb_df["AreaRatio"])

0       -0.231707
1       -0.327660
2        0.056338
3        0.145455
4        0.083969
           ...
13575   -0.676093
13576   -0.429185
13577   -0.551601
13578   -0.693060
13579   -0.527426
Name: AreaRatio, Length: 13580, dtype: float64

Среди приведённых ниже вариантов кода выберите тот, который найдёт квадрат цены объекта недвижимости за наименьшее время и не выдаст ошибку.  

Результат должен быть занесён в переменную price_square и представлять собой объект Series:

In [10]:
price_square = melb_df["Price"] ** 2

### Задание 2.3

Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. Если одного из указанных столбцов не существует в таблице, то функция должна возвращать None. Удалите выбранные вами столбцы из таблицы customer_df

In [11]:
customer_df = pd.DataFrame(
    {
        "number": [0, 1, 2, 3, 4],
        "cust_id": [128, 1201, 9832, 4392, 7472],
        "cust_age": [13, 21, 19, 21, 60],
        "cust_sale": [0, 0, 0.2, 0.15, 0.3],
        "cust_year_birth": [2008, 2000, 2002, 2000, 1961],
        "cust_order": [1400, 14142, 900, 1240, 8430],
    }
)

In [16]:
def delete_columns(df, col=[]):

    try:
        return df.drop(col, axis=1)
    except KeyError:
        return None

In [ ]:
delete_columns(customer_df, ["number", "cust_age"])

In [17]:
delete_columns(customer_df, ["number", "cust_age", "meow"])

### Задание 2.4

Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population) в миллионах человек и площадь страны (square) в квадратных километрах.


Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).

Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до сотых.

*Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны, делённое на площадь этой страны. Обратите внимание, что население в таблице представлено в миллионах.*

In [18]:
countries_df = pd.DataFrame(
    {
        "country": [
            "Англия",
            "Канада",
            "США",
            "Россия",
            "Украина",
            "Беларусь",
            "Казахстан",
        ],
        "population": [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
        "square": [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902],
    }
)

In [19]:
countries_df["population_density"] = (
    countries_df["population"] / countries_df["square"] * 1000000
)

In [24]:
round(countries_df["population_density"].mean(), 2).mean()

84.93

## 4. Признаки даты и времени

In [25]:
display(melb_df["Date"])

0         3/12/2016
1         4/02/2016
2         4/03/2017
3         4/03/2017
4         4/06/2016
            ...
13575    26/08/2017
13576    26/08/2017
13577    26/08/2017
13578    26/08/2017
13579    26/08/2017
Name: Date, Length: 13580, dtype: object

Для того чтобы преобразовывать столбцы с датами, записанными в распространённых форматах, в формат datetime, можно воспользоваться функцией pandas.to_datetime(). В нашем случае в функции нужно указать параметр dayfirst=True, который будет обозначать, что в первоначальном признаке первым идет день. Преобразуем столбец Date в формат datetime, передав его в эту функцию:

In [ ]:
melb_df["Date"] = pd.to_datetime(melb_df["Date"], dayfirst=True)
display(melb_df["Date"])

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

Например, обратившись по атрибуту dt.year в столбце Date, мы можем «достать» год продажи и понять, за какой интервал времени (в годах) представлены наши данные, а также на какой год приходится наибольшее число продаж:

In [28]:
years_sold = melb_df["Date"].dt.year
print(years_sold, "\n")
print("Min year sold:", years_sold.min())
print("Max year sold:", years_sold.max())
print("Mode year sold:", years_sold.mode()[0])

0        2016
1        2016
2        2017
3        2017
4        2016
         ...
13575    2017
13576    2017
13577    2017
13578    2017
13579    2017
Name: Date, Length: 13580, dtype: int32

Min year sold: 2016
Max year sold: 2017
Mode year sold: 2017

Из результатов видно, что данные представлены за интервал с 2016 по 2017 год и наибольшее количество объектов было продано в 2017 году.

Теперь попробуем понять, на какие месяцы приходится пик продаж объектов недвижимости. Для этого выделим атрибут dt.month и на этот раз занесём результат в столбец MonthSale, а затем найдём относительную частоту продаж для каждого месяца от общего количества продаж — для этого используем метод value_counts() с параметром normalize (вывод в долях):

In [30]:
melb_df["MonthSale"] = melb_df["Date"].dt.month
melb_df["MonthSale"].value_counts(normalize=True).sort_index()

MonthSale
1     0.000147
2     0.032622
3     0.049926
4     0.069882
5     0.149411
6     0.134757
7     0.145950
8     0.114138
9     0.135862
10    0.040574
11    0.082032
12    0.044698
Name: proportion, dtype: float64

Из результатов становится ясно, что наибольшее количество продаж недвижимости приходится на май, июль и сентябрь (пятый, седьмой и девятый месяцы соответственно). Месяцами застоя при этом являются месяцы — октябрь, февраль и январь (десятый, второй и первый месяцы соответственно).

### Работа с интервалами

Часто бывает такая ситуация, что необходимо вычислять интервалы между двумя временными промежутками. Например, можно вычислить, сколько дней прошло с 1 января 2016 года до момента продажи объекта. Для этого можно просто найти разницу между датами продаж и заявленной датой, представленной в формате datetime:

In [31]:
delta_days = melb_df["Date"] - pd.to_datetime("2016-01-01")
display(delta_days)

0       337 days
1        34 days
2       428 days
3       428 days
4       155 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]

Чтобы превратить количество дней из формата интервала в формат целого числа дней, можно воспользоваться аксессором dt для формата timedelta и извлечь из него атрибут days:

In [32]:
display(delta_days.dt.days)

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

Рассмотрим другой пример. Давайте создадим признак возраста объекта недвижимости в годах на момент продажи. Для этого выделим из столбца с датой продажи год и вычтем из него год постройки здания. Результат оформим в виде столбца AgeBuilding:

In [36]:
melb_df["AgeBuilding"] = melb_df["Date"].dt.year - melb_df["YearBuilt"]
display(melb_df["AgeBuilding"])

0         46.0
1        116.0
2        117.0
3         47.0
4          2.0
         ...
13575     36.0
13576     22.0
13577     20.0
13578     97.0
13579     97.0
Name: AgeBuilding, Length: 13580, dtype: float64

На самом деле столбец AgeBuilding дублирует информацию столбца YearBuilt, так как, зная год постройки здания, мы автоматически знаем его возраст. Такие признаки не стоит оставлять вместе, поэтому оставим возраст здания, так как он является более наглядным, а год постройки удалим из таблицы:

In [37]:
melb_df = melb_df.drop("YearBuilt", axis=1)

### Задание 3.3

Создайте в таблице melb_df признак WeekdaySale (день недели). Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), результат занесите в переменную weekend_count. В качестве ответа введите результат вывода переменной weekend_count.

In [ ]:
melb_df["WeekdaySale"] = melb_df["Date"].dt.dayofweek

In [ ]:
melb_df.reset_index(names="index", inplace=True)

In [53]:
count_objs = melb_df.groupby("WeekdaySale")["index"].count()
count_objs

WeekdaySale
0      597
1      133
3       28
5    11759
6     1063
Name: index, dtype: int64

In [55]:
weekend_count = count_objs.loc[5] + count_objs.loc[6]
weekend_count

12822

### Вводные данные для выполнения заданий 3.4-3.5

Вам представлены данные (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.

В данных есть следующие признаки:

"City" — город, где был замечен НЛО;  
"Colors Reported" — цвет объекта;  
"Shape Reported" — форма объекта;  
"State" — обозначение штата;  
"Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым).   

Прочитайте данные, сделайте преобразование времени к формату datetime и выполните задания ниже.

In [ ]:
ufo_data = pd.read_csv(
    "https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv"
)

In [57]:
ufo_data

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

### Задание 3.4

In [ ]:
ufo_data["Time"] = pd.to_datetime(ufo_data["Time"])

In [ ]:
ufo_data["Time"]

0       1930-06-01 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-06-01 13:00:00
4       1933-04-18 19:00:00
                ...
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

In [ ]:
ufo_data["Time"].dt.year.value_counts().sort_values()

Time
1933       1
1934       1
1935       1
1930       2
1936       2
        ...
1997    1237
1995    1344
1998    1743
2000    2635
1999    2774
Name: count, Length: 68, dtype: int64

### Задание 3.5

Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).

In [ ]:
ufo_data["Time"].dt.date.diff().dt.days.mean()

1.4134320175438597

In [ ]:
ufo_data[ufo_data["State"] == "NV"]["Time"].dt.date.diff().dt.days.mean()

68.92932862190813

## 5. Создание и преобразование столбцов с помощью функций

Рассмотрим пример. В наших данных есть столбец с адресами объектов недвижимости. Проблема этого столбца в том, что в нём слишком большое количество уникальных значений: почти на каждый объект недвижимости в таблице приходится свой уникальный адрес. Убедимся в этом, вычислив количество уникальных значений в столбце с помощью метода nunique():

In [76]:
print(melb_df["Address"].nunique())

13378

Обычно подобные признаки удаляют, однако можно поступить умнее: давайте извлечём из признака адреса характеристику подтипа улицы (улица, шоссе, авеню, бульвар). Для этого сначала внимательнее посмотрим на структуру адреса, выберем несколько строк столбца Address:

In [77]:
print(melb_df["Address"].loc[177])
print(melb_df["Address"].loc[1812])
print(melb_df["Address"].loc[9001])

2/119 Railway St N
9/400 Dandenong Rd
172 Danks St

Итак, адрес строится следующим образом: сначала указывается номер дома и корпус, после указывается название улицы, а в конце — подтип улицы, но в некоторых случаях к подтипу добавляется географическая отметка (N — север, S — юг и т. д.), она нам не нужна . Для того чтобы выделить подтип улицы, на которой находится объект, можно использовать следующую функцию:

In [78]:
# На вход данной функции поступает строка с адресом.
def get_street_type(address):
    # Создаём список географических пометок exclude_list.
    exclude_list = ["N", "S", "W", "E"]
    # Метод split() разбивает строку на слова по пробелу.
    # В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = address.split(" ")
    # Обрезаем список, оставляя в нём только последний элемент,
    # потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
    # Делаем проверку на то, что полученный подтип является географической пометкой.
    # Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
        # Если переменная street_type является географической пометкой,
        # переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
    # Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type

Теперь применим эту функцию к столбцу c адресом. Для этого передадим функцию get_street_type в аргумент метода столбца apply(). В результате получим объект Series, который положим в переменную street_types:

In [79]:
street_types = melb_df["Address"].apply(get_street_type)
display(street_types)

0        St
1        St
2        St
3        La
4        St
         ..
13575    Cr
13576    Dr
13577    St
13578    St
13579    St
Name: Address, Length: 13580, dtype: object

Итак, мы смогли выделить подтип улицы. Посмотрим, сколько уникальных значений у нас получилось:

In [80]:
print(street_types.nunique())

56

У нас есть 56 уникальных значений. Однако наш результат можно улучшить. Давайте для начала посмотрим на частоту каждого подтипа улицы с помощью метода value_counts:

In [81]:
display(street_types.value_counts())

Address
St           8012
Rd           2825
Ct            612
Dr            447
Av            321
Gr            311
Pde           211
Pl            169
Cr            152
Cl            100
La             67
Bvd            53
Tce            47
Wy             40
Avenue         40
Cct            25
Hwy            24
Parade         15
Boulevard      13
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Gdns            4
Grn             4
Fairway         4
Mews            4
Crossway        3
Righi           3
Victoria        2
Ridge           2
Crofts          2
Esp             2
Glade           1
Gra             1
Ave             1
Woodland        1
Outlook         1
Hts             1
Highway         1
Athol           1
Summit          1
Grand           1
Res             1
Nook            1
Eyrie           1
Dell            1
East            1
Loop            1
Grange          1
Terrace         1
Cove            1
Qy              1
Corso           1
Name: count, dtype: int64

Из данного вывода можно увидеть, что есть группа наиболее популярных подтипов улиц, а дальше частота подтипов быстро падает.

В таком случае давайте применим очень распространённый метод уменьшения количества уникальных категорий — выделим n подтипов, которые встречаются чаще всего, а остальные обозначим как 'other' (другие).

Для этого к результату метода value_counts применим метод nlargest(), который возвращает n наибольших значений из Series. Зададим n=10, т. е. мы хотим отобрать десять наиболее популярных подтипов. Извлечём их названия с помощью атрибута index, а результат занесём в переменную popular_stypes:

In [82]:
popular_stypes = street_types.value_counts().nlargest(10).index
print(popular_stypes)

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object', name='Address')

Теперь, когда у нас есть список наиболее популярных подтипов улиц, введём lambda-функцию, которая будет проверять, есть ли строка x в этом перечне, и, если это так, lambda-функция будет возвращать x, в противном случае она будет возвращать строку 'other'. Наконец, применим такую функцию к Series street_types, полученной ранее, а результат определим в новый столбец таблицы StreetType:

In [83]:
melb_df["StreetType"] = street_types.apply(
    lambda x: x if x in popular_stypes else "other"
)
display(melb_df["StreetType"])

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

Посмотрим на результирующее число уникальных подтипов:

In [ ]:
print(melb_df["StreetType"].nunique())

11

Теперь, у нас нет потребности хранить признак Address, так как, если конкретное местоположение объекта всё же и влияет на его стоимость, то оно определяется столбцами Longitude и Lattitude. Удалим его из нашей таблицы:

In [ ]:
melb_df = melb_df.drop("Address", axis=1)

### Задание 4.2

Ранее, в задании 3.3, мы создали признак WeekdaySale в таблице melb_df — день недели продажи. Из полученных в задании результатов можно сделать вывод, что объекты недвижимости в Мельбурне продаются преимущественно по выходным (суббота и воскресенье).
Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, если день является выходным, и 0 — в противном случае, и создайте столбец Weekend в таблице melb_df с помощью неё.

Примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни. Результат округлите до целых.

In [86]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0

In [87]:
melb_df["Weekend"] = melb_df["WeekdaySale"].apply(get_weekend)

In [ ]:
melb_df.groupby("Weekend")["Price"].mean()

Weekend
0    9.824021e+05
1    1.081199e+06
Name: Price, dtype: float64

## Задание 4.3

Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.  

Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.

In [147]:
most_49_pop = melb_df["SellerG"].value_counts().nlargest(49).index

In [148]:
melb_df["SellerG"] = melb_df["SellerG"].apply(
    lambda x: x if x in most_49_pop else "other"
)

In [149]:
melb_df["SellerG"].nunique()

49

In [150]:
min_price_49 = melb_df.groupby("SellerG")["Price"].min()

In [154]:
round(min_price_49.loc["Nelson"] / min_price_49.loc["other"], 1)

1.3

### Задание 4.4

Представьте, что вы занимаетесь подготовкой данных о вакансиях с платформы hh.ru. В вашем распоряжении имеется таблица, в которой с помощью парсинга собраны резюме кандидатов. В этой таблице есть текстовый столбец «Опыт работы». Пример такого столбца представлен ниже в виде объекта Series. Структура текста в столбце фиксирована и не может измениться.

Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.

Обратите внимание, что опыт работы может выражаться только в годах или только в месяцах. Учтите это при построении своей функции. Кроме того, учтите возможные вариации слов месяц (месяца, месяцев) и год (года, лет).

Примените вашу функцию к Series experience_col с помощью метода apply().

In [155]:
string = "Опыт работы 8 лет 3 месяца"

In [ ]:
def get_experience(arg):

    month_keys = ["месяц", "месяца", "месяцев"]
    year_key = ["год", "года", "лет"]

    year = 0
    month = 0

    arg_split = arg.split(" ")[2:]

    for i in range(len(arg_split)):

        if arg_split[i] in month_keys:
            month = arg_split[i - 1]

        if arg_split[i] in year_key:
            year = arg_split[i - 1]

    return int(year) * 12 + int(month)

In [159]:
get_experience(string)

99

## 6. Тип данных Category

### Категории в данных о недвижимости

Давайте определим число уникальных категорий в каждом столбце нашей таблицы melb_df. Для этого создадим вспомогательную таблицу unique_counts:

In [160]:
# создаём пустой список
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in melb_df.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, melb_df[col].nunique(), melb_df[col].dtypes)
    # добавляем кортеж в список
    unique_list.append(item)
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list, columns=["Column_Name", "Num_Unique", "Type"]
).sort_values(by="Num_Unique", ignore_index=True)
# выводим её на экран
display(unique_counts)

      Column_Name  Num_Unique            Type
0         Weekend           2           int64
1            Type           3          object
2     WeekdaySale           5           int32
3          Method           5          object
4      Regionname           8          object
5           Rooms           9           int64
6        Bathroom           9         float64
7      StreetType          11          object
8             Car          11         float64
9       MonthSale          12           int32
10        Bedroom          12         float64
11    CouncilArea          33          object
12        SellerG          49          object
13           Date          58  datetime64[ns]
14    AgeBuilding         152         float64
15       Postcode         198           int64
16       Distance         202         float64
17  Propertycount         311         float64
18         Suburb         314          object
19   BuildingArea         602         float64
20  MeanRoomsArea        1277         float64
21       Landsize        1448         float64
22          Price        2204         float64
23      Lattitude        6503         float64
24      AreaRatio        6521         float64
25     Longtitude        7063         float64
26          index       13580           int64

Самый простой способ преобразования столбцов к типу данных category — это использование уже знакомого нам метода astype(), в параметры которого достаточно передать строку 'category'.

Рассмотрим это на примере.

Для начала, выведем информацию о памяти, занимаемой текущей таблицей, с помощью метода info():

Сделаем преобразование столбцов к типу данных category:

In [161]:
cols_to_exclude = [
    "Date",
    "Rooms",
    "Bedroom",
    "Bathroom",
    "Car",
]  # список столбцов, которые мы не берём во внимание
max_unique_count = 150  # задаём максимальное число уникальных категорий
for col in melb_df.columns:  # цикл по именам столбцов
    if (
        melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude
    ):  # проверяем условие
        melb_df[col] = melb_df[col].astype("category")  # преобразуем тип столбца
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  category
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  category
 6   SellerG        13580 non-null  category
 7   Date           13580 non-null  datetime64[ns]
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom        13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13580 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   13580 non-null  float64
 15  CouncilArea    12211 non-null  category
 16  Lattitude      13580 non-null  float64
 17  Longtitude     13580 non-null  float64
 18  Regionname     13580 non-null  category
 19  Propertycount  13580 non-null  float64
 20  MeanRoomsArea  13580 non-null  float64
 21  AreaRatio      13580 non-null  float64
 22  MonthSale      13580 non-null  category
 23  AgeBuilding    13580 non-null  float64
 24  WeekdaySale    13580 non-null  category
 25  StreetType     13580 non-null  category
 26  Weekend        13580 non-null  category
dtypes: category(9), datetime64[ns](1), float64(13), int64(3), object(1)
memory usage: 2.0+ MB

None

У типа данных category есть свой специальный аксесcор cat, который позволяет получать информацию о своих значениях и преобразовывать их. Например, с помощью атрибута этого аксессора categories мы можем получить список уникальных категорий в столбце Regionname:

In [162]:
print(melb_df["Regionname"].cat.categories)

Index(['Eastern Metropolitan', 'Eastern Victoria', 'Northern Metropolitan',
       'Northern Victoria', 'South-Eastern Metropolitan',
       'Southern Metropolitan', 'Western Metropolitan', 'Western Victoria'],
      dtype='object')

А теперь посмотрим, каким образом столбец кодируется в виде чисел в памяти компьютера. Для этого можно воспользоваться атрибутом codes:

In [163]:
display(melb_df['Regionname'].cat.codes)

0        2
1        2
2        2
3        2
4        2
        ..
13575    4
13576    6
13577    6
13578    6
13579    6
Length: 13580, dtype: int8

С помощью метода аксессора rename_categories() можно легко переименовать текущие значения категорий. Для этого в данный метод нужно передать словарь, ключи которого — старые имена категорий, а значения — новые.

Рассмотрим на примере: переименуем категории признака типа постройки Type — заменим их на полные названия (напомним, u — unit, h — house, t — townhouse).

In [167]:
melb_df["Type"] = melb_df["Type"].cat.rename_categories(
    {"u": "unit", "t": "townhouse", "h": "house"}
)
display(melb_df["Type"])

0        house
1        house
2        house
3        house
4        house
         ...
13575    house
13576    house
13577    house
13578    house
13579    house
Name: Type, Length: 13580, dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']

А теперь представим ситуацию, что появилась новая партия домов и теперь мы продаём и квартиры (flat). Создадим объект Series new_houses_types, в котором будем хранить типы зданий новой партии домов. Преобразуем тип new_houses_types в такой же тип, как и у столбца Type в таблице melb_data, и выведем результат на экран:

In [168]:
new_houses_types = pd.Series(["unit", "house", "flat", "flat", "house"])
new_houses_types = new_houses_types.astype(melb_df["Type"].dtype)
display(new_houses_types)

0     unit
1    house
2      NaN
3      NaN
4    house
dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']

По какой-то причине вместо квартир мы получили пустые значения — NaN.

На самом деле причина проста: тип данных category хранит только категории, которые были объявлены при его инициализации. При встрече с новой, неизвестной ранее категорией, этот тип превратит её в пустое значение, так как он просто не знает о существовании этой категории.

Решить эту проблему на самом деле не сложно. Можно добавить категорию flat в столбец Type с помощью метода акссесора cat add_categories(), в который достаточно просто передать имя новой категории:

In [169]:
melb_df["Type"] = melb_df["Type"].cat.add_categories("flat")
new_houses_types = pd.Series(["unit", "house", "flat", "flat", "house"])
new_houses_types = new_houses_types.astype(melb_df["Type"].dtype)
display(new_houses_types)

0     unit
1    house
2     flat
3     flat
4    house
dtype: category
Categories (4, object): ['house', 'townhouse', 'unit', 'flat']

Из данного примера можно сделать вывод, что если набор категорий в столбце жёстко не зафиксирован и может обновляться в процессе работы, то тип category не является подходящим типом данных для этого столбца или необходимо постоянно писать проверки при обновлении таблицы.

### Задание 5.1

При преобразовании столбцов таблицы о недвижимости к типу category мы оставили без внимания столбец Suburb (пригород). Давайте исправим это.

- С помощью метода info() узнайте, сколько памяти занимает таблица melb_df.
- Преобразуйте признак Suburb следующим образом: оставьте в столбце только 119 наиболее популярных пригородов, остальные замените на 'other'.
- Приведите данные в столбце Suburb к категориальному типу.

В качестве ответа запишите разницу между объёмом занимаемой памяти до преобразования (который мы получили ранее в модуле) и после него в Мб. Ответ округлите до десятых.

In [170]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  category
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  category
 6   SellerG        13580 non-null  category
 7   Date           13580 non-null  datetime64[ns]
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom        13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13580 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   13580 non-null  float64
 15  CouncilArea    12211 non-null  category
 16  Lattitude      13580 non-null  float64
 17  Longtitude     13580 non-null  float64
 18  Regionname     13580 non-null  category
 19  Propertycount  13580 non-null  float64
 20  MeanRoomsArea  13580 non-null  float64
 21  AreaRatio      13580 non-null  float64
 22  MonthSale      13580 non-null  category
 23  AgeBuilding    13580 non-null  float64
 24  WeekdaySale    13580 non-null  category
 25  StreetType     13580 non-null  category
 26  Weekend        13580 non-null  category
dtypes: category(9), datetime64[ns](1), float64(13), int64(3), object(1)
memory usage: 2.0+ MB

In [172]:
most_119_pop = melb_df["Suburb"].value_counts().nlargest(119).index

In [174]:
melb_df["Suburb"] = melb_df["Suburb"].apply(
    lambda x: x if x in most_119_pop else "other"
)

In [175]:
melb_df["Suburb"] = melb_df["Suburb"].astype("category")

In [176]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  category
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  category
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  category
 6   SellerG        13580 non-null  category
 7   Date           13580 non-null  datetime64[ns]
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom        13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13580 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   13580 non-null  float64
 15  CouncilArea    12211 non-null  category
 16  Lattitude      13580 non-null  float64
 17  Longtitude     13580 non-null  float64
 18  Regionname     13580 non-null  category
 19  Propertycount  13580 non-null  float64
 20  MeanRoomsArea  13580 non-null  float64
 21  AreaRatio      13580 non-null  float64
 22  MonthSale      13580 non-null  category
 23  AgeBuilding    13580 non-null  float64
 24  WeekdaySale    13580 non-null  category
 25  StreetType     13580 non-null  category
 26  Weekend        13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(13), int64(3)
memory usage: 1.9 MB

Ответ: 0.1

## 7. Закрепление знаний

Вашим заданием в этом модуле будет проанализировать и преобразовать данные о велопоездках клиентов компании Citi Bike (США), специализирующейся на прокате велосипедов.

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

- starttime — время начала поездки (дата, время);
- stoptime — время окончания поездки (дата, время);
- start station id — идентификатор стартовой стоянки;
- start station name — название стартовой стоянки;
- start station latitude, start station longitude — географическая широта и - долгота стартовой стоянки;
- end station id — идентификатор конечной стоянки;
- end station name — название конечной стоянки;
- end station latitude, end station longitude — географическая широта и долгота - конечной стоянки;
- bikeid — идентификатор велосипеда;
- usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на - три дня, Subscriber — подписчик с годовой арендой велосипеда);
- birth year — год рождения клиента;
- gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

In [ ]:
bikes_data = pd.read_csv("data/citibike-tripdata.csv")

### Задание 6.1
Сколько пропусков в столбце start station id?

In [180]:
bikes_data.isnull().sum()

starttime                    0
stoptime                     0
start station id           169
start station name         169
start station latitude       0
start station longitude      0
end station id             169
end station name           169
end station latitude         0
end station longitude        0
bikeid                       0
usertype                     0
birth year                   0
gender                       0
dtype: int64

### Задание 6.2
Какой тип данных имеют столбцы starttime и stoptime?

In [181]:
bikes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

### Задание 6.3
Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [ ]:
bikes_data["start station id"].value_counts().sort_values()

start station id
3583.0       6
3704.0       7
2005.0       9
3599.0      11
3432.0      15
          ...
426.0     1835
514.0     1845
519.0     1873
2006.0    1909
281.0     1928
Name: count, Length: 759, dtype: int64

### Задание 6.4
Велосипед с каким идентификатором является самым популярным?

In [184]:
bikes_data["bikeid"].value_counts().sort_values()

bikeid
25794      1
32467      1
18272      1
25406      1
18891      1
        ...
33916    102
34258    103
34159    103
34358    104
33887    107
Name: count, Length: 10004, dtype: int64

### Задание 6.5
Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [185]:
bikes_data["usertype"].value_counts(normalize=True).sort_values()

usertype
Customer      0.225993
Subscriber    0.774007
Name: proportion, dtype: float64

### Задание 6.6
Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [187]:
bikes_data["gender"].value_counts().sort_values()

gender
0     41912
2     74506
1    183582
Name: count, dtype: int64

### Задание 6.7
Выберите утверждения,которые соответствуют нашим данным:

A Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу

In [203]:
bikes_data["start station id"].nunique() != bikes_data["end station id"].nunique()

True

B В рассматриваемые дни минимальный возраст клиента составлял 10 лет

In [194]:
(2018 - bikes_data['birth year']).min() == 10

False

C Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"

In [201]:
bikes_data["start station name"].value_counts().sort_values().index[
    0
] == "Eastern Pkwy & Washington Ave"

True

D Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"

In [204]:
bikes_data["end station name"].value_counts().sort_values(ascending=False).index[
    0
] == "Liberty Light Rail"

False

### Задание 6.8
В первую очередь удалим лишнюю информацию из данных.
В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [207]:
bikes_data.shape[1]

14

In [208]:
bikes_data.drop(columns=["start station id", "end station id"], inplace=True)

In [210]:
bikes_data.shape[1]

12

### Задание 6.9
Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [ ]:
bikes_data["age"] = 2018 - bikes_data["birth year"]
bikes_data.drop(columns=["birth year"], inplace=True)

In [213]:
bikes_data[bikes_data["age"] > 60].shape[0]

11837

### Задание 6.10
Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [215]:
bikes_data["trip duration"] = pd.to_datetime(bikes_data["stoptime"]) - pd.to_datetime(
    bikes_data["starttime"]
)

In [227]:
bikes_data["trip duration"].dt.total_seconds().div(60).astype(int).iloc[3]

7

### Задание 6.11
Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [229]:
bikes_data["wekeend"] = pd.to_datetime(bikes_data["starttime"]).dt.dayofweek
bikes_data["wekeend"] = bikes_data["wekeend"].apply(lambda x: 1 if x > 4 else 0)

bikes_data["wekeend"].value_counts()

wekeend
0    184865
1    115135
Name: count, dtype: int64

### Задание 6.12
Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
- поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
- поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
- поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
- поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).


Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [ ]:
bikes_data["time_of_day"] = pd.to_datetime(bikes_data["starttime"]).dt.hour

In [232]:
def get_time_of_day(hour):
    if 0 <= hour <= 6:
        return "night"
    elif 6 < hour <= 12:
        return "morning"
    elif 12 < hour <= 18:
        return "day"
    else:
        return "evening"

In [233]:
bikes_data["time_of_day"] = bikes_data["time_of_day"].apply(get_time_of_day)

In [234]:
bikes_data["time_of_day"].value_counts()

time_of_day
day        143012
morning     95530
evening     46373
night       15085
Name: count, dtype: int64

In [237]:
int(143012 / 15085)

9